@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

/* header sectionn  */
.header-backgroud-color {
    background-image: linear-gradient(90deg, rgba(33, 34, 36, 1) 0%, rgba(87, 89, 93, 1) 100%);
    height: 600px;
    width: 100%;


}

.first-heading-img img {
    height: 85%;
    margin-left: 124px;
}

.secend-heading-img img {
    height: 70%;
}

.head-titel {
    font-size: 4.875rem;
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
}

.headerTitel-area {
    margin-right: 312px;
}

/* player list section  */
.players-container {
    background-color: lightgray;

}

.cart-img img {
    height: 15rem;
}

.selected-player-name {
    height: 384px;
}

/* club maintain cost */

.total-balance {
    color: #FF5E19;
}

.selected-title {
    border-bottom: 3px solid #FF5E19;
    margin-left: 66px;
    margin-right: 66px;
}

.budget-titel {
    border-bottom: 3px solid #FF5E19;
    margin-left: 75px;
    margin-right: 75px;
}